%tr
  %td= line_item.text_field :due_date, class: "due-date-field", :size => "10x10"
  %td= line_item.text_field :note, :rows => 2, :size => "60x10"
  %td= line_item.text_field :quantity, :size => "10x10"
  %td= line_item.text_field :price, :size => "10x10"