.call-to-action-invoice-estimate
  = link_to 'Create Invoice', new_billing_doc_path(kind:  'invoice'), class: 'btn-success btn'
  = link_to 'Make Estimate', new_billing_doc_path(kind:  'estimate'), class: 'btn-info btn'