
<h4> <%= @billing_doc.title %> </h4>

 <p> <%= @billing_doc.kind %> is due <%= @billing_doc.due_date %>
for <strong>$  <%= @billing_doc.total.round(2) %></strong> </p>


<p> Sincerely </p>

<p> The Sherman Crew </p>