.sherman-landing
  = image_tag "sherman.jpg", class: 'sherman-pic'
  .landing-ding
    .landing-one
      %h1
        Sherman lets you
        %br
        manage your finances <em>digitally</em>
    %ul.landing-invoice
      %h3
        %li Estimate your expenses
        %li Track invoices
        %li Maintain an Address Book