.sherman-landing
  = image_tag "sherman.jpg", class: 'sherman-pic'
  .landing-one
    %h1 Sherman lets you expedite your finances <em>digitally</em>
  .landing-invoice
    %h1 As you create and manage your <strong>invoices</strong> and <strong>estimates</strong>