-@top_contacts.each do |contact|
  .col-md-3.contact-container
    .contact-profile
      .contact-photo
        =link_to(image_tag(contact.photo, class: "contact-photo-index"), group_contact_path(current_user.group.id, contact))
      .contact-name
        = link_to contact.name, group_contact_path(current_user.group.id, contact)
      .contact-email
        = "#{contact.email}".html_safe
      -if contact.phone_number
        .contact-phone-number
          ="#{number_to_phone(contact.phone_number, :groupings => [3, 3, 4])}".html_safe
