.call-to-action-invoice-estimate {
float: right;
margin-top: 2.5%;
}

.contact-labelz{
  display: block;
}


#contact-addition{
display: inline-block!important;
}

#contact-addition-box{
display: inline-block!important;
padding: 2px;
border: 1px solid grey;
background-color: pink;
text-align: center;
margin: 10px;
}

#line-items-table th{
  font-size: 1em;
  margin-right: 10px;
  text-align: center;
}
.add-line-item{
  display: inline-block;
}
.line-item-title{
  display: inline-block;
}

.due-date-label{
  display: block;
}

/*#line-items-table .remove-button-table{
  text-align: center!important;
}*/
#line-items-table td{
  font-size: .75em;
  margin-right: 10px;
}

#line-items-table input{
  margin-right: 10px;
  margin-bottom: 10px;
}

#line-items-table td:nth-child(5n){
  text-align: center;
  top: -2px;
  position: relative!important;
}

#sum{
  float: right;
  margin-top: 0;
}
#sum h3{
  margin-top: 0;
}

.post-buttons{
  display: block;
}
.billing-doc{
  background-image: url('airmail-top.png'), url('airmail-bottom.png');
  background-repeat: no-repeat;
  background-color: lightgoldenrodyellow;
  background-position: 0 0, 0 bottom;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  width: 100%
}
.billing-doc-header{
float: left;
position: relative;
}
.show-description{
  clear: both;
  margin: 2%;
  padding: 2%;
}

.line-item-show-row td{
  padding-right: 5%;
  margin: 5%;
}
#line-items-show-table{
  width: 100%;
  border-spacing: 10px;
}
table {
  border-spacing: 10px;
}
.table-show-header{
  border-bottom: 1px solid grey;
}

.total-cost{
  float:  right;
  padding: 2%;
  font-size: 150%;
  font-weight: bold;
}

.show-mailer-button, .make-invoice{
float: right;
display: inline-block;
position: relative;
top: -40px;
margin-right: 20px;
}

.sent-show-mailer{
    display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  color: #333333;
  background-color: lightpink;
  border-color: #cccccc;
}

.invoices{
  clear: both;
  color: purple;
  font-weight: 200;
  width: 100%;
}
.invoices td{
  padding: 10px;
  width: 128px;
}

#invoices-title{
clear: both;
margin-top: 15%;
border-bottom: 1px dashed black;
font-style: italic;
font-weight: 100;
}

#invoices-row td:first-child{
  padding-left: 0;
  padding-right: 5%!important;
}

.see-all-invoice{
  float: right;
  display: inline;
}
.see-all-invoice-link{
  font-size: 65%;
}

.hide{
  display: none;
}
.back-all{
  float: right;
}
